<html lang="ru">
    
	<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Base{% endblock %}</title>
    </head>
  
    <body>
	    {% if user.is_authenticated %}
		    Logged in as {{ user.username }}
			<a href="{% url 'createtodo' %}">Create</a>
			<a href="{% url 'currenttodos' %}">Current</a>
			<a href="{% url 'completedtodos' %}">Completed</a>
			<form action="{% url 'logoutuser' %}" method="POST"> {% csrf_token %}
		        <button type="submit">Logout</button>
			</form>
		{% else %}
		    <a href="{% url 'signupuser' %}">Sign Up</a>
			<a href="{% url 'loginuser' %}">Login</a>
		{% endif %}
	    {% block content %}{% endblock %}			
    </body>
</html>