{% extends 'todo/base.html' %}


{% block content %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="row justify-content-center mt-5">
        <div class="col-md-7 text-center">
            <h1>Ваш список событий!</h1>
            <p>Жизнь весёлая. Но жизнь тоже занята. Вы можете делать миллион разных вещей. Но важно то, <u> что </u> вы делаете. Мы создали <b> <i> список событий </i> </b>, чтобы помочь вам осознать все свои возможности и жить той жизнью, которая для вас важнее всего. Вас ждёт новая организованная жизнь.</p>
            <a role="button" class="btn btn-primary btn-lg" href="{% url 'signupuser' %}">Начать</a>
        </div>
    </div>
{% endblock %}